@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@keyframes playing-bar {

  0%,
  100% {
    height: 4px;
  }

  50% {
    height: 16px;
  }
}

.animate-playing-bar {
  animation: playing-bar 0.8s ease-in-out infinite;
}